# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lastbuildstate
*.pch
*.tlog
*.log
*.idb
*.ipch
*.sdf
*.tlb
*.pdb
*.bi
*.cache
*.xdc


# Compiled Dynamic libraries
*.so
*.dylib
*.ilk


# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.out
*.app
